<script type="text/html" id="account-template">
    <div class="headline">
        Account Settings
    </div>
    <br/>
    <div class="link" data-bind="click: changePassword">Change Password</div>
    <br/>
    <div class="link" data-bind="click: deleteAccount">Delete Account</div>
</script>