<script type="text/html" id="login-template">
    <div class='headline'>Login</div>
    <br/>
    <form data-bind="submit: function() {alert('abc')}">
        <div class='register-labelWidth u-inline-block'>Username</div>
        <input class='register-inputWidth' type='text' data-bind='textInput: name, returnKey: login'/>
        <br/>

        <div class='register-labelWidth u-inline-block'>Password</div>
        <input class='register-inputWidth' type='password' data-bind='textInput: password, returnKey: login'/>
        <br/>
        <br/>
        <div class='error' data-bind='text: errorMessage'></div>

        <div class="button register-submit" data-bind='click: login'>Login</div>
    </form>
</script>