<div class='game-listEntry' data-bind="text: name, css: {'game-listEntry--selected': isSelected}, click: select">
</div>
<div class='button game-listEntry-addButton' data-bind='click: toggleAddCode'>add</div>
<div class='button game-listEntry-addButton' data-bind='click: removeGame'>remove game</div>
<!-- ko if: isSelected -->
    <!-- ko ifnot: isLoading -->
        <!-- ko foreach: items -->
            <!-- ko if: visible -->
                <br/>
                <!-- ko ifnot: isEditMode -->
                    <div class='game-code-description'>
                        <div class='game-code-content' data-bind='text: description'></div>
                    </div>
                    <div class='game-code-description' data-bind="click: selectCode">
                        <div class='game-code-content u-selectable' data-bind='text: code, attr: {id: id}'></div>
                    </div>
                    <div class='button game-listEntry-addButton' data-bind='click: edit'>edit</div>
                <!-- /ko -->
                <!-- ko if: isEditMode -->
                    <input class='game-code-description-edit' data-bind='value: description'/>
                    <input class='game-code-description-edit' data-bind='value: code'/>
                    <div class='button game-listEntry-addButton' data-bind='click: save'>save</div>
                <!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->
<!-- /ko -->
<!-- ko if: addCode -->
    <br/>
    <div class='game-saveCode-newLabelWidth'>Description: </div>
    <input type='text' class='game-saveCode-newInput' data-bind='value: newDescription'>
    <br/>
    <div class='game-saveCode-newLabelWidth'>Code: </div>
    <input type='text' class='game-saveCode-newInput' data-bind='value: newCode'>
    <br/>
    
    <div class='button game-saveCode-saveButton' data-bind='click: saveCode'>Save</div>
    <br/>
<!-- /ko -->