<script type="text/html" id="home-template">
    <div class='headline'>Home</div>
    <br/>
    <br/>
    Welcome to the Warcraft III Save Code Manager.
    <br/>
    This site is supposed to help you managing your warcraft 3 save codes for all kind of games.
    <br/>
    In the Games tab, you can add new games and add codes to these games.
    You are able to edit codes.
    <br/>
    <br/>
    <div class="headline">Tipps</div>
    <br/>
    Its enough to click once on a code, it is automaticly copied. You do not have to copy it yourself.
    <br/>
    To delete a code, just edit the code and leave the description empty.
</script>