<script type="text/html" id="menu-template">
    <div class="menuArea" data-bind="ifnot: isLoading">
        <!-- ko foreach: menuEntries -->
            <div class="menuEntry" data-bind="click: selectEntry, text: content, css: {'menuEntry--selected': isSelected}"></div>
        <!-- /ko -->
    </div>
</script>