<script type="text/html" id="dialog-change-password-template">
    <div class="headline">Change password</div>
    <br/>
    <div class="register-labelWidth u-inline-block">Old password</div>
    <input class="register-inputWidth" type="password">
    <br/>
    
    <div class="register-labelWidth u-inline-block">New password</div>
    <input class="register-inputWidth" type="password">
    <br/>
    
    <div class="register-labelWidth u-inline-block">Confirm password</div>
    <input class="register-inputWidth" type="password">
    
    <br/>
    <br/>
    <div class="button register-submit">Change password</div>
    <br/>
    <br/>
    <div class="button register-submit" data-bind="click: cancel">Cancel</div>
</script>