<script type="text/html" id="dialog-delete-account-template">
    <div class="headline">Delete account</div>
    <br/>
    <div class="u-inline-block"> Enter the following code: </div>
    <div class="error u-inline-block">a9mx2</div>
    <br/>
    <input class="register-inputWidth" type="text">
    
    <br/>
    <br/>
    <div class="button register-submit">Delete</div>
    <br/>
    <br/>
    <div class="button register-submit" data-bind="click: cancel">Cancel</div>
</script>