<script type="text/html" id="dialog-remove-game-template">
    <div class="headline">Remove game</div>
    <br/>
    <div>Are you sure, that you want to perform this action?</div>
    <br/>
    <div class='button' data-bind='click: deleteGame'>Yes</div>
    <div class='button' data-bind='click: keepGame'>Cancel</div>
</script>